.nav-link{
    color: white !important;
    font-size: large !important;
    font-weight: bold;
}

.navbar{
    background-color: #792133 !important;
}

footer, #headerTop{
    background-color: #232323;
    padding: 8px;
}

.logo{
    max-width: 30px;
    vertical-align: middle;
    height: auto;
}

body{
    background-color: #EBEBEB;
}
