body{
    display: flex;
    flex-direction: column;
    background-color: #EBEBEB;
}

footer{
    background-color: #232323;
    padding: 8px;
    margin-top: 30px;
}

p{
    text-align: justify;
}

.secciones{
    width: 90%;
}

.btn{
    background-color: #792133 !important; 
    color: #EBEBEB !important;
    
}

#headerTop{
    background-color: #232323;
    padding: 8px;
}

.nav-link{
    color: white;
    font-size: large !important;
    font-weight: bold;
}

.nav-link:hover{
    background-color: #EBEBEB !important;
    color: #792133 !important;
}

.navbar{
    background-color: #792133 !important;
}

a, a:hover{
    color: white;
    text-decoration: none;
}

.logo{
    max-width: 30px;
    vertical-align: middle;
    height: auto;
}

.portada{
    max-width:120px;
    vertical-align: middle;
    height: auto;
    margin-right: 20px;
    border-radius: 5%;
}

#animacion{
    background-color: #f7f4f4;
    transition: transform 0.3s;
}

#animacion:hover {
    transform: scale(1.10);
}